<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons"><a aria-label="Send email" href="https://gitlab.com/snippets/1978862"><img
          src='assets/img/Email_Logo.svg' /></a>
      <a aria-label="Send email" href="https://gitlab.com/christianpauly"><img src='assets/img/Gitlab_Logo.svg' /></a><a
        aria-label="Send email" href="https://metalhead.club/@krille"><img src='assets/img/Mastodon_Logo.svg' /></a><a
        aria-label="Send email" href="https://ko-fi.com/krille"><img src='assets/img/Kofi_Logo.png' /></a>

    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>