<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons"><a aria-label="Send email" href="mailto:christian-pauly@posteo.de?body=Please%20consider%20using%20E-Mail%20encryption.%0A%0A%20If%20you%20don't%20know%20how%2C%20you%20can%20check%20out%3A%0Ahttps%3A%2F%2Fwww.mailvelope.com%2Fen%2Fhelp%0A%0A%20My%20public%20key%3A%0Ahttps%3A%2F%2Fkeys.mailvelope.com%2Fpks%2Flookup%3Fop%3Dget%26search%3Dchristian-pauly%2540posteo.de"><img
          src='assets/img/Email_Logo.svg' /></a>
      <a aria-label="Send email" href="https://matrix.to/#/@krille:tchncs.de"><img src='assets/img/Matrix_Logo.svg' /></a>
      <a aria-label="Send email" rel="me"  href="https://metalhead.club/@krille"><img src='assets/img/Mastodon_Logo.svg' /></a><a
        aria-label="Send email" href="https://ko-fi.com/krille"><img src='assets/img/Kofi_Logo.png' /></a>

    </div>
    <div class="header-links">
      <a class="link" href="https://gitlab.com/ChristianPauly" data-scroll>GitLab</a>
      <a class="link" href="https://play.google.com/store/apps/developer?id=Christian+Pauly" data-scroll>Google Play</a>
    </div>
  </div>
</div>
