<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}{{ site.bkimage }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}{{ site.profilepic }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">
          Writer, full time nerd and software developer at <a href="https://famedly.com" target="new">Famedly</a>.
         </p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              
              {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <!--<i class="icon icon-mail"></i>-->
                  <img class="fas fa-envelope fa-lg main-icon" src="images/Email_Logo.svg" />
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}

              <!-- Meetup -->
              <li class="navigation__item">
                <a href="https://matrix.to/#/@krille:janian.de" target="new"
                  title="Matrix" target="_blank">
                  <!--<div style="font-size: 1.4rem;"><i class="fab fa-meetup fa-lg"></i></div>-->
                  <img class="fas fa-envelope fa-lg main-icon" src="images/Matrix_Logo.svg" />
                  <span class="label">Matrix</span>
                </a>
              </li>
              
              {% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.gitlab.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitLab"
                  target="new">
                  <!--<i class="icon icon-social-github"></i>-->
                  <img class="fas fa-envelope fa-lg main-icon" src="images/gitlab.png" />
                  <span class="label">GitLab</span>
                </a>
              </li>
              {% endif %}
              
              <!-- Mastodon -->
              <li class="navigation__item">
                <a href="http://metalhead.club/@krille" title="Mastodon" target="_blank">
                  <img class="fas fa-envelope fa-lg main-icon" src="images/Mastodon_Logo.svg" />
                  <span class="label">Mastodon</span>
                </a>
              </li>

            </ul>
          </nav>

          <!--<nav class="cover-navigation cover-navigation--primary">-->
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              <li class="navigation__item"><a href="https://ko-fi.com/krille" target="new" title="link to Blog"><i
                    class="fas fa-link fa-lg"></i>Blog</a></li>
              <!--<li class="navigation__item"><a href="{{ site.baseurl }}/#" title="link to Tweets" class="panel-button"><i class="icon icon-social-twitter"></i>&nbsp;Tweets</a></li>-->
              <li class="navigation__item"><a href="{{ site.baseurl }}/#projects" title="link to Tweets"
                  class="panel-button projects-button"><i class="fas fa-file-code fa-lg"></i>Projects</a></li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>