<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "assets/img/fluffychat.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>FluffyChat</h3>
    <ul>
      <li>Matrix client</li>
    </ul>
    <p>FluffyChat is an open source client for <a href="https://matrix.org">Matrix</a> and my favourite
      personal project.</p>
    <a class="project-link" href="http://fluffy.chat">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "assets/img/famedly.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Famedly</h3>
    <ul>
      <li>App for health care organisations</li>
    </ul>
    <p>In my job we are creating an <a href="https://flutter.dev">Flutter</a> app for German health care organisations
      based on <a href="https://matrix.org">Matrix</a>. </p>
    <a class="project-link" href="https://famedly.com">Check it out</a>
  </div>
</div>
