.header-icons img {
    width: 32px;
    height: 32px;
    margin: 16px;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    transition: all 0.1s;
}

.header-icons img:hover {
    background-color: lightgrey;
    width: 36px;
    height: 36px;
    margin: 14px;
}